footer{
    border-top: 1px solid #cdcdcd;
    height: 274px;
    .footer-c{
        width: 1200px;
        margin: 0 auto;
        ul{
            float: left;
            margin-right:89px;
            margin-top: 30px; 
            p{
                font-size: 18px;
                line-height: 35px;
                color: #6c6656;
                height: 35px;
                font-weight: 600;
                b{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url(../img/footer_bg.png)no-repeat -5px -2px;
                    vertical-align:middle;
                    margin-right:5px; 
                }
            }
            li{
                margin-left: 35px;
                color: #5f6467;
                margin-top:10px;
                &:hover{
                    color: red;
                }
            }
        }
        ul:nth-of-type(2){
            p{
                b{
                    background: url(../img/footer_bg.png)no-repeat -213px -2px;
                }
            }
        }        
        ul:nth-of-type(3){
            p{
                b{
                    background: url(../img/footer_bg.png)no-repeat -5px -303px;
                }
            }
        }        
        ul:nth-of-type(4){
            p{
                b{
                    background: url(../img/footer_bg.png)no-repeat -213px -303px;
                }
            }
        }        
        ul:nth-of-type(5){
            p{
                b{
                    background: url(../img/footer_bg.png)no-repeat -5px -604px;
                }
            }
        }        
        ul:nth-of-type(6){
            p{
                b{
                    background: url(../img/footer_bg.png)no-repeat -213px -604px;
                }
            }
        }
        .footer-log{
            img{
                margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 2px;
            }
        }
        .footer-b{
            text-align: center;
            color: #60615c;
            margin-top: 10px;
        }
    }
}