header{
    height: 198px;
    .header1{
        height: 30px;
        background: #eaeaea;
        .header1-c{
            width: 1200px;
            margin: 0 auto;
            ul{
               li{
                   line-height: 30px;
                   float: left;
                   color: #2d343a;
                   margin-right: 7px; 
                   input{
                       width: 99px;
                       height: 20px;
                       border: solid 1px #a19899;
                   }
               }
            }
            a{
                float:left;
                margin-top: 5px;
            }
            a:nth-of-type(2){
                margin-left:10px;
                margin-right: 4px; 
            }
            a:nth-of-type(3){
                margin-top: 3px;
            }
            ul:nth-of-type(2){
                float: right;
                li{
                    margin-left: 13px;
                    a{
                        margin: 0;
                    }
                }
                li:nth-of-type(1){
                    a{
                        color:#fb0000;
                    }
                }
            }
        }
    }
    .header2{
        width: 1200px;
        height: 110px;
        margin: 18px auto 0 auto;
        .log{
            float: left;
        }
        .search{
            width: 429px;
            height: 110px;
            margin-left: 75px;
            float: left;
            background: url(../img/search.gif)no-repeat;
            position: relative;
            div{
                input{
                    width: 287px;
                    height: 27px;
                    border: 0;
                    position: absolute;
                    left: 39px;
                    top: 24px;
                    outline:none;
                }
                button{
                    position: absolute;
                    width: 97px;
                    height: 38px;
                    left: 328px;
                    top: 17px;
                    opacity:0;
                }
            }
            ul{
                position: absolute;
                top: 68px;
                left: 15px;
                p{
                    float: left;
                    color: #656a56;
                }
                li{
                    float: left;
                    margin-right: 5px;
                    color: #656a56;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
        .tel{
            float:right;
        }
    }
    .header3{
        background: #c81622;
        height: 40px;
        div{
            width: 1200px;
            margin: 0 auto;
            text-align: center;
            line-height: 40px;
            b{
                display: block;
                float: left;
                background: #990809;
                height: 40px;
                width: 170px;
                font-size: 16px;
                color: #fafff5;
                &:hover{
                    color: yellow;
                }
            }
            ul{
                li{
                    float: left;
                    margin-left: 40px;
                    font-size: 16px;
                    color: #fafff5;
                    &:hover{
                        color: yellow;
                    }
                }
            }
            p{
                float: left;
                width: 130px;
                height: 32px;
                margin-left: 40px;
                background-color:#e7f0ed;
                color: #242227;
                border-radius: 5px;
                margin-top: 4px;
                line-height: 32px;
                font-size: 12px;
                i{
                    background:url(../img/header_bg.png)no-repeat -20px -230px;
                    display: block;
                    width: 35px;
                    height: 30px;
                    float: left;
                    margin-left:4px; 
                }
            }
        }
    }
}